original_photo_path: /home/foobar/sync/diary-photos
target_photo_path: /home/foobar/sync/obsidian/notes/diary-attachments
obsidian_file_path: /home/foobar/sync/obsidian/notes
image_prefix: diary-image-